/* columns */

div.css-12w0qpk.e1tzin5v2 {
    background-color: #E6E6E6;
    padding: 3% 3% 3% 3%;
    border-radius: 0px;
    border: solid;
    border-width: thick;
    color: #023334;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    cursor: pointer;
    background-clip: border-box;
}

#div.css-1p1nwyz.e1tzin5v3 {
    top: -10px;
    color: white;
}


/* humburger */

div.css-1xtoq5p.e1fqkh3o3 {
    visibility: hidden;
}


/* BACKGROUND */

div.css-1v0mbdj.etr89bj1 {
    position: relative;
    left: -10px;
    top: 90px;
    width: 400;
    display: block;
}


/* SIDEBAR */

div.css-1ope8sv.e1fqkh3o4 {
    color: white;
    background-color: #023334;
}

div.div.css-163ttbj.e1fqkh3o11 {
    color: white;
    background-color: #023334;
}

div.css-1v0mbdj.etr89bj1 {
    top: -80px;
}

div.css-183lzff.eyqtai90 {
    position: relative;
    left: -60px;
    top: -48px;
    width: 200;
}

div.st-by.st-cc.st-cd.st-ae.st-af.st-ag.st-ah.st-ai.st-aj {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 5px;
    list-style: none;
}

div.stSlider {
    position: relative;
    left: 5px;
    top: -78px;
    width: 200;
}

div.element-container.css-1p1nwyz.e1tzin5v3 {
    width: 20;
}

div.stHorizontalBlock {
    visibility: hidden;
}


/* Image centered */

.fullScreenFrame>div {
    display: flex;
    justify-content: center;
}